ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-evenly;
  background: #f7f8f4;
  align-items: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
}

.otherBtns {
  color: #241903;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 11px;
  background: transparent;
  outline: none;
  border: none;
  font-weight: normal;
}
.otherBtns:hover {
  color: #c6a15b;
  border-bottom: 1px solid #c6a15b;
}
